USE [ReactTestDB]
GO
/****** Object:  Table [dbo].[TB_Code]    Script Date: 2022-01-11 14:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_Code](
	[CodeId] [nvarchar](10) NOT NULL,
	[GroupId] [nvarchar](10) NOT NULL,
	[CodeName] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[UseYn] [char](1) NOT NULL,
 CONSTRAINT [PK_TB_Code] PRIMARY KEY CLUSTERED 
(
	[CodeId] ASC,
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CodeGroup]    Script Date: 2022-01-11 14:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CodeGroup](
	[GroupId] [nvarchar](10) NOT NULL,
	[GroupName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[UseYn] [char](1) NOT NULL,
 CONSTRAINT [PK_TB_CodeGroup] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_Menu]    Script Date: 2022-01-11 14:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_Menu](
	[MenuId] [nvarchar](10) NOT NULL,
	[MenuName] [nvarchar](20) NULL,
	[DisplayNo] [int] NULL,
	[MenuPath] [nvarchar](100) NOT NULL,
	[MenuYn] [char](1) NOT NULL,
	[PageYn] [char](1) NOT NULL,
	[VisibleYn] [char](1) NOT NULL,
 CONSTRAINT [PK_TB_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_RoleMenu]    Script Date: 2022-01-11 14:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_RoleMenu](
	[RoleId] [nvarchar](5) NOT NULL,
	[MenuId] [nvarchar](10) NOT NULL,
	[UseYn] [char](1) NOT NULL,
 CONSTRAINT [PK_TB_RoleMenu] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_Token]    Script Date: 2022-01-11 14:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_Token](
	[TokenId] [char](36) NOT NULL,
	[UserNo] [int] NOT NULL,
	[TokenSub] [nvarchar](20) NOT NULL,
	[CreateDateTime] [datetime2](7) NOT NULL,
	[ExpiryDateTime] [datetime2](7) NOT NULL,
	[DestroyYn] [char](1) NULL,
	[DestroyDateTime] [datetime2](7) NULL,
	[Signature] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_TB_Token] PRIMARY KEY CLUSTERED 
(
	[TokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_User]    Script Date: 2022-01-11 14:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_User](
	[UserNo] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](20) NOT NULL,
	[UserPassword] [char](64) NOT NULL,
	[UserName] [nvarchar](20) NULL,
	[Role] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_TB_User] PRIMARY KEY CLUSTERED 
(
	[UserNo] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TB_Code] ([CodeId], [GroupId], [CodeName], [Description], [UseYn]) VALUES (N'00001', N'CORE_0001', N'Admin', N'관리자 권한입니다.', N'Y')
INSERT [dbo].[TB_Code] ([CodeId], [GroupId], [CodeName], [Description], [UseYn]) VALUES (N'00001', N'TEST_0001', N'TEST1_CODE1', N'테스트1-11', N'Y')
INSERT [dbo].[TB_Code] ([CodeId], [GroupId], [CodeName], [Description], [UseYn]) VALUES (N'00001', N'TEST_0002', N'TEST2_CODE1', N'테스트2-11', N'Y')
INSERT [dbo].[TB_CodeGroup] ([GroupId], [GroupName], [Description], [UseYn]) VALUES (N'CORE_0001', N'User Role', N'사용자 권한 목록 공통 코드입니다.', N'Y')
INSERT [dbo].[TB_CodeGroup] ([GroupId], [GroupName], [Description], [UseYn]) VALUES (N'TEST_0002', N'Test1', N'테스트1 코드입니다.', N'Y')
INSERT [dbo].[TB_CodeGroup] ([GroupId], [GroupName], [Description], [UseYn]) VALUES (N'TEST_0003', N'Test2', N'테스트2 코드입니다.', N'Y')
INSERT [dbo].[TB_Menu] ([MenuId], [MenuName], [DisplayNo], [MenuPath], [MenuYn], [PageYn], [VisibleYn]) VALUES (N'ADMN_001', N'관리자 페이지', NULL, N'/admin_page', N'Y', N'Y', N'Y')
INSERT [dbo].[TB_Menu] ([MenuId], [MenuName], [DisplayNo], [MenuPath], [MenuYn], [PageYn], [VisibleYn]) VALUES (N'HOME_001', N'메인 화면', NULL, N'/', N'Y', N'Y', N'Y')
INSERT [dbo].[TB_Menu] ([MenuId], [MenuName], [DisplayNo], [MenuPath], [MenuYn], [PageYn], [VisibleYn]) VALUES (N'TEST_001', N'테스트 화면', NULL, N'/test_page', N'Y', N'Y', N'Y')
INSERT [dbo].[TB_RoleMenu] ([RoleId], [MenuId], [UseYn]) VALUES (N'00001', N'ADMN_001', N'Y')
INSERT [dbo].[TB_RoleMenu] ([RoleId], [MenuId], [UseYn]) VALUES (N'00001', N'HOME_001', N'Y')
INSERT [dbo].[TB_RoleMenu] ([RoleId], [MenuId], [UseYn]) VALUES (N'00001', N'TEST_001', N'Y')
INSERT [dbo].[TB_Token] ([TokenId], [UserNo], [TokenSub], [CreateDateTime], [ExpiryDateTime], [DestroyYn], [DestroyDateTime], [Signature]) VALUES (N'00000000-0000-0000-0000-000000000000', 0, N'Unknown', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'N', NULL, N'v9LgdPQZsBIN-GYjRsYstWg5-UmYP_vNGScxuBzVH_c')
INSERT [dbo].[TB_Token] ([TokenId], [UserNo], [TokenSub], [CreateDateTime], [ExpiryDateTime], [DestroyYn], [DestroyDateTime], [Signature]) VALUES (N'0018db20-90ad-416c-944b-65c741c63960', 1, N'AccessToken', CAST(N'2022-01-11T05:51:21.0000000' AS DateTime2), CAST(N'2022-01-11T05:56:21.0000000' AS DateTime2), N'Y', CAST(N'2022-01-11T05:51:22.9346779' AS DateTime2), N'0jqYoYaBA7jP2JT5zNvzJ4tnsw5qOVRC0egD6yKoNqA')
INSERT [dbo].[TB_Token] ([TokenId], [UserNo], [TokenSub], [CreateDateTime], [ExpiryDateTime], [DestroyYn], [DestroyDateTime], [Signature]) VALUES (N'005840c7-cc70-44ac-a42a-f101905e3845', 1, N'access_token', CAST(N'2021-12-28T15:29:34.0000000' AS DateTime2), CAST(N'2021-12-28T15:30:34.0000000' AS DateTime2), N'N', NULL, N'RCBivyBiWP6XISoYakgFUcpmvDomuP4DieoBrskDq14')
GO
SET IDENTITY_INSERT [dbo].[TB_User] ON 

INSERT [dbo].[TB_User] ([UserNo], [UserId], [UserPassword], [UserName], [Role]) VALUES (1, N'admin1', N'password1                                                       ', N'Admin1', N'00001')
INSERT [dbo].[TB_User] ([UserNo], [UserId], [UserPassword], [UserName], [Role]) VALUES (2, N'member1', N'password1                                                       ', N'1Member', N'00002')
INSERT [dbo].[TB_User] ([UserNo], [UserId], [UserPassword], [UserName], [Role]) VALUES (3, N'member2', N'password1                                                       ', N'Member2', N'00002')
SET IDENTITY_INSERT [dbo].[TB_User] OFF
/****** Object:  StoredProcedure [dbo].[uSP_AddToken]    Script Date: 2022-01-11 14:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kohyeonseo
-- Create date: 2021-12-27
-- Description:	생성한 JWT Token을 DB에 등록합니다.
-- =============================================
CREATE PROCEDURE [dbo].[uSP_AddToken] 
	@UserNo			INT,
	@TokenId		CHAR(38),
	@Subject		NVARCHAR(20),
	@IssuedAt		DATETIME2,
	@ExpirationAt	DATETIME2,
	@Signature		NVARCHAR(64)
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO TB_Token (
		TokenId, 
		UserNo, 
		TokenSub, 
		CreateDateTime, 
		ExpiryDateTime, 
		Signature,
		DestroyYn
	)
	VALUES
	(@TokenId, @UserNo, @Subject, @IssuedAt, @ExpirationAt, @Signature, 'N')

	SELECT	TokenId,
			UserNo
	FROM	TB_Token
	WHERE	TokenId = @TokenId
END
GO
/****** Object:  StoredProcedure [dbo].[uSP_Code_GET]    Script Date: 2022-01-11 14:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*	=============================================
	Author:		 Kohyeonseo
	Create date: 2022-01-06
	Description: 코드를 조회합니다.
	
	EXEC uSP_Code_GET 'CORE_0001'
	EXEC uSP_Code_GET 'CORE_0001', '00001'
	============================================= */
CREATE PROCEDURE [dbo].[uSP_Code_GET] 
	@GroupId	NVARCHAR(10),
	@CodeId		NVARCHAR(10) = NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT	GroupId
			,CodeId
			,CodeName
			,Description
			,UseYn
	FROM	TB_Code
	WHERE	GroupId = @GroupId
			AND (@CodeId IS NULL OR CodeId = @CodeId)
END
GO
/****** Object:  StoredProcedure [dbo].[uSP_CodeGroup_GET]    Script Date: 2022-01-11 14:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*	=============================================
	Author:		 Kohyeonseo
	Create date: 2022-01-06
	Description: 코드 그룹을 조회합니다.
	
	EXEC uSP_CodeGroup_GET
	EXEC uSP_CodeGroup_GET 'CORE_0001'
	============================================= */
CREATE PROCEDURE [dbo].[uSP_CodeGroup_GET] 
	@GroupId	NVARCHAR(10) = NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT	GroupId
			,GroupName
			,Description
			,UseYn
	FROM	TB_CodeGroup
	WHERE	(@GroupId IS NULL OR GroupId = @GroupId)
END
GO
/****** Object:  StoredProcedure [dbo].[uSP_CreateToken]    Script Date: 2022-01-11 14:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kohyeonseo
-- Create date: 2021-12-24
-- Description:	생성한 JWT Token을 DB에 등록합니다..
-- =============================================
CREATE PROCEDURE [dbo].[uSP_CreateToken] 
	@UserNo			INT,
	@TokenSub		NVARCHAR(20),
	@ExpireMinute	INT,
	@Signature		NVARCHAR(64)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @TokenId CHAR(38) = NEWID()
	DECLARE @WorkDate DATETIME2(7) = SYSDATETIME()

	INSERT INTO TB_Token (
		TokenId, 
		UserNo, 
		TokenSub, 
		CreateDateTime, 
		ExpiryDateTime, 
		DestroyYn
	)
	VALUES
	(@TokenId, @UserNo, @TokenSub, @WorkDate, DATEADD(MINUTE, @ExpireMinute, @WorkDate), 'N')

	SELECT	TokenId,
			UserNo
	FROM	TB_Token
	WHERE	TokenId = @TokenId
END
GO
/****** Object:  StoredProcedure [dbo].[uSP_GetToken]    Script Date: 2022-01-11 14:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kohyeonseo
-- Create date: 2021-12-27
-- Description:	JWT Token을 조회합니다.
-- =============================================
CREATE PROCEDURE [dbo].[uSP_GetToken] 
	@TokenId		CHAR(38)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT	TokenId,
			UserNo,
			TokenSub as [Subject],
			CreateDateTime,
			ExpiryDateTime,
			DestroyYn,
			DestroyDateTime,
			Signature
	FROM	TB_Token
	WHERE	TokenId = @TokenId
END
GO
/****** Object:  StoredProcedure [dbo].[uSP_Login]    Script Date: 2022-01-11 14:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kohyeonseo
-- Create date: 2021-12-27
-- Description:	로그인을 처리합니다.
-- =============================================
CREATE PROCEDURE [dbo].[uSP_Login] 
	@UserID		NVARCHAR(20),
	@Password	CHAR(64)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT	UserNo,
			UserId,
			UserName,
			TC.CodeName as [Role]
	FROM	TB_User TU
			INNER JOIN TB_Code TC
				ON TC.GroupId = 'CORE_0001'
				AND TU.Role = TC.CodeId
	WHERE	UserID = @UserID
			AND UserPassword = @Password
END
GO
/****** Object:  StoredProcedure [dbo].[uSP_RemoveToken]    Script Date: 2022-01-11 14:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kohyeonseo
-- Create date: 2021-12-27
-- Description:	JWT Token을 Blacklist 처리합니다
-- =============================================
CREATE PROCEDURE [dbo].[uSP_RemoveToken] 
	@TokenId		CHAR(38)
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE	TB_Token
	SET		DestroyYn = 'Y',
			DestroyDateTime = SYSDATETIME()
	WHERE	TokenId = @TokenId
END
GO
/****** Object:  StoredProcedure [dbo].[uSP_User_GET]    Script Date: 2022-01-11 14:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*	=============================================
	Author:		 Kohyeonseo
	Create date: 2022-01-06
	Description: 사용자를 조회합니다.
	
	EXEC uSP_User_GET 1
	============================================= */
CREATE PROCEDURE [dbo].[uSP_User_GET] 
	@UserNo		INT
AS
BEGIN
	SET NOCOUNT ON;

	SELECT	UserNo,
			UserId,
			UserName,
			UserPassword,
			TC.CodeName as [Role]
	FROM	TB_User TU
			INNER JOIN TB_Code TC
				ON TC.GroupId = 'CORE_0001'
				AND TU.Role = TC.CodeId
	WHERE	UserNo = @UserNo
END
GO
